@model List<ARMdps.Models.DepartmentModel>
@{
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/ru.json" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div>
    <button class="blue-button" onclick="clickDepartmentAddBtn()">Новое подразделение</button>
</div>
<table id="dTable" class="cell-border" style="width:100%">
    <thead style="background-color:#75BCFF;">
        <tr>
            <th>Код подразделения</th>
            <th>Название подразделения</th>
        </tr>
    </thead>
    <tbody>
        @for (int i=0; i<Model.Count; i++)
        {
        <tr ondblclick="clickDepartmentEditBtn(@Model[i].Id)" data-toggle="modal" data-target="#depModal">
            @Html.HiddenFor(e => Model[i].Id)
            <td id="_@Html.IdFor(e => Model[i].Id)">
                @Model[i].DepartmentCode
            </td>
            <td>@Model[i].DepartmentName</td>
        </tr>
        }
    </tbody>
</table>
<div id="modalDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">

        
    function editSuccess(data) {
             $("#dialogContent").html(data);
             $("#modalDialog").modal("show");
            }

    function editError() {
             alert('Error occured');
            }
    
    function clickDepartmentEditBtn(departmentId) {
        if (departmentId)
        {
        sendAjaxData(({id:departmentId}), '@Url.Action("GetDepartmenEditForm", "Department")', editSuccess, editError, "POST");
        }
        else {
        sendAjaxNotData('@Url.Action("GetDepartmenAddForm", "Department")', editSuccess, editError, "POST");
        }
    }

   
    $(document).ready(function () {
    $('#dTable').DataTable();
    })
</script>
